<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/about.css" type="text/css"/>
    <title>About me</title>
  </head>
  <body>
    <h1>About Me</h1>
    <div id="about">
      <div>Name: Hopansh Gahlot</div>
      <div>Roll: 1806473</div>
      <div>Github profile: <a href="https://github.com/hopansh">https://github.com/hopansh</a></div>
      <div>Skills: Javascript, HTML, NodeJS, CSS, React, Bootstrap, Material UI, Flutter, C#, Unity 2D</div>
      <div>
          <br>Projects:
        <ul>
          <li>Sales Order Management Web App</li>
          <li>Movies Search Web</li>
          <li>Electronic Store Web</li>
          <li>Android Ai Chatting App</li>
          <li>Android COVID-19 Tracking App</li>
          <li>Android Block Breaker Game</li>
          <li>Windows Web Browser</li>
        </ul>
      </div>
    </div>
    
  </body>
</html>
